@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  min-height: 100vh;
}

main {
  padding: 0 1rem;
  max-width: 960px;
  margin: 0 auto;
}

header {
  background: #f4f4f4;
  text-align: center;
  padding: 2em;
}

header img {
  max-width: 96px;
}

header h1 {
  font-size: 2.5em;
}

h1,
h2 {
  text-align: center;
}

label {
  display: block;
  margin-bottom: 0.5em;
}

.new-member-form {
  margin: 2em 0 4em 0;
  text-align: center;
}

.member-item {
  position: relative;
  margin: 1rem 0;
  word-break: break-all;
  padding: 0.25em 0;
  width: 100%;
  text-align: center;
  background-color: hsl(0, 0%, 86%);
  border-radius: 0.2rem;
}

.cross-item {
  position: absolute;
  cursor: pointer;
  font-size: 0.8rem;
  padding: 0.2rem 0.4rem;
  background-color: #f76c6c;
  top: -0.8rem;
  border-radius: 100%;
  right: -0.4rem;
}

.containter-list-crews {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.containter-list-crews button {
  border-radius: 0.2rem;
}

.member-list {
  min-width: 100%;
  display: block;
}

footer {
  text-align: center;
  color: #fff;
  background: #f76c6c;
  padding: 0.25em 0;
}

.App {
  min-height: 100vh;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

@media (min-width: 768px) {
  .member-item {
    margin: 0.2rem 0.2rem;
    padding: 0.25em 0.2rem;
    display: flex;
    justify-content: center;
  }

  .member-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    flex-wrap: wrap;
    word-break: break-all;
    justify-content: center;
    gap: 0 10%;
    margin: 1rem 0;
  }
}
