@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

main {
  max-width: 960px;
  margin: 0 auto;
}

header {
  background: #f4f4f4;
  text-align: center;
  padding: 2em;
}

header img {
  max-width: 96px;
}

header h1 {
  font-size: 2.5em;
}

h1,
h2 {
  text-align: center;
}

label {
  display: block;
  margin-bottom: 0.5em;
}

.new-member-form {
  margin: 2em 0 4em 0;
  text-align: center;
}

.member-item {
  padding: 0.25em 0;
  width: 100%;
  text-align: center;
}

.member-list {
  display: block;
}

footer {
  margin-top: 2em;
  text-align: center;
  color: #fff;
  background: #f76c6c;
  padding: 0.25em 0;
}

@media (min-width: 768px) {
  .member-item {
    padding: 0.25em 0;
    width: 30%;
    display: flex;
    justify-content: center;
  }

  .member-list {
    display: flex;
    flex-wrap: wrap;
    word-break: break-all;
    justify-content: center;
  }
}
